.wrapper {
}

.dropdown {
  width: 200px;
  margin: 20px auto;
}

.dropdown-click-area {
  border: 1px solid black;
  margin-bottom: 0;
  height: 30px;
  padding: 10px;
}

.dropdown_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown_list li {
  display: block;
  padding: 5px;
}

.dropdown_list li:nth-child(2n + 1) {
  background-color: lightgray;
}

.active + .dropdown_list {
  display: block !important;
}
